gcc-arm-11.2-2022.02-x86_64-arm-none-linux-gnueabihf/
site/
u-boot-socfpga/
16-10_13_09_24_hps_core_periph_vic_input_files/
a10_example.sdmmc/
gsrd_reference/
sd_card_images/
core_and_root/
u-boot
gsrd
log
u-boot.log
temp.sh
try_to_break_sd_gold.d/
fit_log
tmp_dir/
u-boot-socfpga_v2025.04/
u-boot-socfpga_v2025.07/
u-boot-socfpga_test-bootloader
u-boot-socfpga_test-bootloader/
u-boot_master/
try.img
try_to_break_sd_gold
qsrd_build.log
gsrd_gen.log
quartus_gsrd_projects/
.fast_uboot_input_files
u-boot-socfpga_v2025.07_native/
moved_from_u-boot/
source_gsrd_u-boot/
u_boot_ver/
u_boot_ver
gsrd_hps_isw_handoff
gsrd_output_files
vic_hps_isw_handoff
vic_output_files
u-boot-socfpga_v2025.07_a10_only/
menu_config/